@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
*,
*:after,
*:before {
  box-sizing: border-box; }

.container,
.podium,
body,
html {
  height: 100%;
  font-family: open sans, sans-serif;
  font-size: 16px; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0; }

input {
  font-size: 16px !important; }

.container {
  position: relative;
  width: 100%;
  max-width: 600px; }
  .container_inner {
    padding: 12px; }

.meta {
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }
  .meta_header, .meta_subhead {
    margin-bottom: 0; }
  .meta_header {
    margin-bottom: 4px;
    font-weight: 700; }
  .meta_subhead {
    color: #747474; }

.btn {
  font-size: 16px;
  position: relative;
  min-width: 100px;
  padding: 10px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  margin-right: 18px;
  font-weight: 600; }
  .btn--pos {
    background: #119619; }
  .btn--neg {
    background: #e23333; }
  .btn[disabled] {
    opacity: .5;
    background-color: #aaa; }
  .btn:active {
    top: 1px; }

.joinError {
  padding-bottom: 8px;
  color: red; }

.swatch-grid {
  width: 220px;
  display: flex;
  justify-content: space-between;
  transition: all .15s ease; }
  .swatch-grid_swatch {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #aaa;
    opacity: .65; }
    .swatch-grid_swatch--blue {
      background: #216FAF; }
    .swatch-grid_swatch--red {
      background: #e23333; }
    .swatch-grid_swatch--green {
      background: #119619; }
    .swatch-grid_swatch--pink {
      background: #ff69b4; }
    .swatch-grid_swatch:hover {
      opacity: 1;
      transform: scale(1.1); }
    .swatch-grid_swatch.is-selected {
      opacity: 1;
      transform: scale(1.1); }

.buzzer {
  position: relative;
  margin: 80px auto;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background: #e23333;
  border: 3px solid #b01919;
  box-shadow: 0 6px 0 #b01919;
  backface-visibility: hidden; }
  .buzzer:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background: radial-gradient(circle, #e23333, #c61c1c); }
  .buzzer--green {
    background: #119619;
    border: 3px solid #09510e;
    box-shadow: 0 6px 0 #09510e;
    backface-visibility: hidden; }
    .buzzer--green:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      background: radial-gradient(circle, #119619, #0c6811); }
  .buzzer--blue {
    background: #216FAF;
    border: 3px solid #15466f;
    box-shadow: 0 6px 0 #15466f;
    backface-visibility: hidden; }
    .buzzer--blue:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      background: radial-gradient(circle, #216FAF, #195484); }
  .buzzer--pink {
    background: #ff69b4;
    border: 3px solid #ff1d8e;
    box-shadow: 0 6px 0 #ff1d8e;
    backface-visibility: hidden; }
    .buzzer--pink:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      background: radial-gradient(circle, #ff69b4, #ff369b); }
  .buzzer.disabled {
    opacity: .75; }
  .buzzer.responded {
    background: #676767;
    border: 3px solid #414141;
    box-shadow: 0 6px 0 #414141;
    backface-visibility: hidden; }
    .buzzer.responded:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      background: radial-gradient(circle, #676767, #4e4e4e); }
  .buzzer:active:not(.is-disabled), .buzzer:active:not(.has-responded) {
    top: 6px;
    box-shadow: none; }

.podium {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-left: 17px solid #343434;
  border-right: 17px solid #343434; }
  .podium_lights {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px 0;
    width: 17px; }
    .podium_lights--left {
      left: -17px; }
    .podium_lights--right {
      right: -17px; }
  .podium_light {
    position: relative;
    width: 100%; }
    .podium_light:before, .podium_light:after {
      content: '';
      position: absolute;
      display: block;
      z-index: 1000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto; }
    .podium_light:before {
      content: '';
      display: block;
      height: 7px;
      width: 7px;
      border-radius: 100%;
      border: 1px solid #111111;
      box-shadow: inset 0 0 1px 1px #111; }
    .podium_light:after {
      height: 6px;
      width: 6px;
      border-radius: 100%;
      visibility: hidden;
      background: #fff;
      border: 1px solid #f0f0f0;
      animation: light-pulse 8s infinite;
      animation-timing-function: linear; }
      .open .podium_light:after {
        visibility: visible; }
    .podium_light.is-pulsing:after {
      animation: strong-pulse .85s infinite;
      animation-timing-function: ease-in-out; }
    .podium_light.is-off:after {
      animation: flash-out .2s 1 forwards;
      animation-timing-function: ease-in-out; }

@keyframes light-pulse {
  0% {
    box-shadow: 0 0 2px #fff; }
  50% {
    box-shadow: 0 0 8px #fff; }
  100% {
    box-shadow: 0 0 2px #fff; } }

@keyframes strong-pulse {
  0% {
    box-shadow: 0 0 0px #fff;
    transform: scale(1); }
  100% {
    box-shadow: 0 0 16px #fff;
    transform: scale(1.04); } }

@keyframes flash-out {
  0% {
    box-shadow: 0 0 8px #fff;
    transform: scale(1.1); }
  20% {
    transform: scale(0.6);
    box-shadow: 0 0 0 #fff;
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

.order {
  font-weight: bold;
  font-size: 48px;
  text-align: center; }

.players-list {
  margin-bottom: 60px;
  padding-left: 0; }

.player {
  padding-left: 0;
  list-style-type: none;
  line-height: 2.5;
  border-bottom: 1px solid #aaa; }
  .player:first-child {
    border-top: 1px solid #aaa; }
  .player:hover {
    background-color: #f0f0f0; }
  .player.has-responded {
    color: #aaa;
    text-decoration: line-through; }
